<html>
    <head> 
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="app.css"
    </head>

    <body> 
        <h1> Notion Clipper </h1>
        <div id="container">
            <div class="options-values">
                <input type="text" class="title" placeholder="Title"/>
                <input type="text" class="url" placeholder="URL" />
                <input type="text" class="description" placeholder="Description" />
                <input type="text" class="tags" placeholder="Tags"/>
            </div>
        </div>

        <button> Save </button>

        <h3> Tags existants </h3>
        <div id="tags-container">
            @each(tag in tags_db)
                <p> {{tag.name}} </p>
            @end
        </div> 

        <script src="app.js"> </script>
    </body>

</html>